/On_site/convertor/
/On_site/Countries and Cities/
/On_site/Hangman/
/On_site/Solution/
/On_site/WebScrapping/
/On_site/WebScrapping/main.py
/On_site/counter.py
/On_site/create_dir.py
/On_site/Destinacio.py
/On_site/movies.py
/On_site/Shopping_cart.py
/On_site/testing.py
